@model BankOfBit.Models.ChequingAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ChequingAccount</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChequingServiceCharges)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChequingServiceCharges)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Client.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountState.AccountStateID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountState.AccountStateID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Balance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Balance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OpeningBalance)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OpeningBalance)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BankAccountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
